@charset "utf-8";
/* CSS Document */
/* reset 默认样式重置 */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, q, em, ul, li, ol, dl, dt, dd, form, article, aside, embed, table, td, th, input, button, legend, fieldlset, blockquote, textarea, label, strong, img, cite { margin: 0; padding: 0; outline: none; }
body { font-family:"Microsoft YaHei", "微软雅黑"; font-size: 14px; line-height: 1;  margin: 0 auto; background:#f0f0f0;color:#666;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
table { border-collapse: collapse; }
ul, li , ol, li{ list-style: none; }
img{ border: none; vertical-align:top;}
em, cite, address,i { font-style: normal; font-weight: normal; }
a { text-decoration:none; color:#666; }
input { outline:none; border:none; background-color:transparent;}
input::-ms-clear { display:none; }
textarea { outline:none; resize:none; ;overflow:auto;border:none;background: transparent;}


/* 清浮动 */
.clearfix:after,
.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}

.fl{float:left;}
.fr{float:right;}


.show{display:block;}
.hide{display:none;}

.button-info {
    background-color: #5bc0de;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    float:right;
}

.button-none {
    background-color: white;
    border: solid;
    border-width:1px;
    color: #5bc0de;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    float:right;
}



.demo--label{margin:20px 20px 0 0;display:inline-block}
.demo--radio{display:none}
.demo--radioInput{background-color:#fff;border:2px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:20px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:20px;line-height:1}
.demo--radio:checked + .demo--radioInput:after{background-color:#00A1E9;border-radius:100%;content:"";display:inline-block;height:10px;margin-left:5px;margin-top:5px;width:10px}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{border-radius:0}
.demo--radio:checked + .demo--radioInput{border:2px solid #00A1E9;}



