body {
    background-color: #F9F9F9;
    font-family: Helvetica,Arial,Sans-Serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
.pd7u3871 {
    height: 508px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 1096px;
}
.u4680_container {
    position:absolute;
    left:0px;
    top:42px;
    width:1067px;
    height:1100px;
}
.u4682_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1066px;
    height:29px;
}
.back_addhd_fontr {
	text-align: right;font-family: Arial; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none; color: #333333;
}
.back_addhd_fontl {
	text-align: left;font-family: Arial; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none; color: #333333;
}
.back_addhd_font{
	font-family: Arial; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none; color: #333333;
}
.back_addhd_ {
    position:absolute;
    left:34px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}