<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-cfg/applicationContext-mysql.xml,
			/WEB-INF/spring-cfg/application/applicationContext*.xml
		</param-value>
	</context-param>
	
	<!-- 字符集过滤 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
          <param-name>forceEncoding</param-name>
          <param-value>true</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- weixin access filter -->
	<filter>
		<filter-name>WXAccessFilter</filter-name>
		<filter-class>com.weixin.filter.WXAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WXAccessFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WXAccessFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>    
        <servlet-name>WXInitServlet</servlet-name>    
        <servlet-class>com.weixin.servlet.WXInitServlet</servlet-class>    
        <load-on-startup>0</load-on-startup>    
    </servlet>
	<servlet-mapping>
		<servlet-name>WXInitServlet</servlet-name>
		<url-pattern>/init.do</url-pattern>
	</servlet-mapping>
    <servlet>
	    <servlet-name>WXCheckServlet</servlet-name>
	    <servlet-class>com.weixin.servlet.WXCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>WXCheckServlet</servlet-name>
	    <url-pattern>/wxcheck.do</url-pattern>
    </servlet-mapping>
    <servlet>
	    <servlet-name>WXIndexServlet</servlet-name>
	    <servlet-class>com.weixin.servlet.WXIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>WXIndexServlet</servlet-name>
	    <url-pattern>/indexWap.do</url-pattern>
    </servlet-mapping>
	<!--微信去支付-->
	<servlet>
		<servlet-name>WXTopayServlet</servlet-name>
		<servlet-class>com.weixin.servlet.WXTopayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WXTopayServlet</servlet-name>
		<url-pattern>/wxtopay.do</url-pattern>
	</servlet-mapping>
	<!--微信支付结果回调-->
	<servlet>
		<servlet-name>WXBackServlet</servlet-name>
		<servlet-class>com.weixin.servlet.WXBackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WXBackServlet</servlet-name>
		<url-pattern>/wxback.do</url-pattern>
	</servlet-mapping>
    	
	
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>frame</web-resource-name>
			<description>frame</description>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint></auth-constraint>
	</security-constraint>

	<!-- 
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	 -->
	 
	
	<!-- struts dispather -->
	<filter>
		<filter-name>SinoMutiDispatcherFilter</filter-name>
		<filter-class>
			com.sinovatech.framework.web.dispatcher.SinoMutiStruts1DispatherFilter
		</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/sinoframe-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>autoConfig</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SinoMutiDispatcherFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
