<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-cfg/applicationContext-mysql.xml,
			/WEB-INF/spring-cfg/application/applicationContext*.xml
		</param-value>
	</context-param>
	
	<!-- 字符集过滤 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
          <param-name>forceEncoding</param-name>
          <param-value>true</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 图形验证码 -->
	<servlet>
		<servlet-name>sinoDefaultCaptcha</servlet-name>
		<servlet-class>
			com.sinovatech.captcha.web.SinoCaptchaServlet
		</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>DEFAULT</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>sinoDefaultCaptcha</servlet-name>
		<url-pattern>/yzmservlet</url-pattern>
	</servlet-mapping>

	<!-- swfupload 多图片上传 -->
	<servlet>
		<servlet-name>UploadProductImagesServlet</servlet-name>
		<servlet-class>
			com.shop.good.UploadProductImagesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadProductImagesServlet</servlet-name>
		<url-pattern>/uploadProductImagesServlet</url-pattern>
	</servlet-mapping>
	
	
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>frame</web-resource-name>
			<description>frame</description>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint></auth-constraint>
	</security-constraint>

	<!-- 
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	 -->
	 
	
	<!-- struts dispather -->
	<filter>
		<filter-name>SinoMutiDispatcherFilter</filter-name>
		<filter-class>
			com.sinovatech.framework.web.dispatcher.SinoMutiStruts1DispatherFilter
		</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/sinoframe-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>autoConfig</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SinoMutiDispatcherFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
